* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #1e90ff;
  --white: #ffffff;
}
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: rgb(20 19 19);
  color: white;
}

ol,
ul {
  padding-left: 30px;
}

.board-row {
  display: flex;
  flex-direction: row;
}

.status {
  margin-bottom: 10px;
  font-size: 30px;
}

.square {
  color: var(--white);
  font-size: 78px;
  /* font-weight: bold; */
  height: 134px;
  width: 134px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

#sq0,
#sq1,
#sq2,
#sq3,
#sq4,
#sq5 {
  border-bottom: 3px solid var(--blue);
}

#sq0,
#sq1,
#sq3,
#sq4,
#sq6,
#sq7 {
  border-right: 3px solid var(--blue);
}

.game {
  display: flex;
  flex-direction: row;
}

.game-board {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.game-info {
  margin-left: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* align-items: center; */
  justify-content: center;
}

.move {
  height: 30px;
  display: flex;
  align-items: center;
  border: 1px solid white;
  padding: 1.5rem 1.5rem;
  cursor: pointer;
  width: clamp(80px, 200px, 100%);
}

.moves-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
